body {
	margin: 0;
	padding: 0;
}

#regWindow {
	background: rgba(0,0,0,.8);
	display: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	pointer-events: none;
	z-index: 99999;
}

#regWindow:target {
	display: block;
	pointer-events: auto;
}
.window {
	background: linear-gradient(-45deg, #fefcea, #f1da36);
	border-radius: 7px;
	padding: 0 24px 24px;
	/* Выравнивание модального окна по центру */
	position: absolute;
	left: 50%; top: 50%;
    transform: translate(-50%, -50%);
	/* --- */
	width: 250px;
}

.close {
	border-radius: 7px;
	color: #000;
	position: absolute;
	top: 5px; right: 3px;
	text-align: center;
	width: 24px;
}

/* Дополнительное */

a:hover {
	font-weight: bold;
}

input {
	margin-bottom: 10px;
}

h2 {
	font: 600 18px/14px Arial, sans-serif;
}

.width100 {
	width: 100%;
}

.form p {
	margin-bottom: 0;
	text-align: right;
}

.form {
	padding: 0 20px;
}
