html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
	background-color: #EEE;
	font: 400 20px/1.5 sans-serif;
	letter-spacing: 0.7px;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 980px;
	min-width: 100%;
	height: 75px;
	background-color: #48B;
	border-style: solid;
	border-color: #269;
	border-width: 0 0 4px 0;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

nav {
	margin-left: 10px;
	margin-top: 100px;
	position: absolute;
	border-style: double;
	border-width: 3px;
	border-color: #48B;
	border-radius: 10px;
	left: 0;
	float: left;
	background-color: #269;
	/*overflow-y: auto;*/
	z-index: 999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* todo */
footer {
	min-width: 100%;
	height: 75px;
	background-color: #48B;
	text-align: center;
}

.search {
	display: inline-block;
	float: right;
	width: 260px;
	height: 30px;
	margin: 25px 10px;
	border: 10px;
	border-color: #FFF;
	border-radius: 10px;
	background-color: #FFF;
}

#search_field {
	outline:none;
	border: none;
	margin: auto 10px;
}

.logo_img {
	float: left;
	width: 70px;
	height: 70px;
	margin: 2px 10px;
}

.navigation {
	display: inline-block;
	float: right;
}

.navigation_img {
	float: right;
	width: 50px;
	height: 50px;
	margin: 14px 5px;
	
}

.logo {
	display: inline-block;
	float: left;
	/*position: absolute;*/
	margin: 10px;
	font-family: ProximaNovaCond, Arial, sans-serif; 
	font-size: 50px;
	font-weight: 700;
	color: #FFF;
}

.content, 
.content_with_menu {
	margin-top: 150px;
	margin-left: 150px;
	text-align: center;
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
}

.content_with_menu{
	margin-left: 300px;
	min-height: 100%;
}

.shop_info {
	display: inline-block;
	margin: 10px 5px;
	color: #FFF;
	font-size: 16px;
}

.menu_item {
	padding: 10px 25px;
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	display: inline-block;
	text-align: center;
	margin-right: 75px;
	margin-bottom: 75px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item_extend {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;
	/*max-width: 70%;*/
	width: 600px;
}

.short_description {
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.short_description
h1 {
	margin: 0;
	display: /*inline-block;*/
}

.short_description
.price {
	font-size: 20px;
	margin: 0;
	/*float: right;*/
	/*display: inline-block;*/
	text-align: center;
	margin-top: 7px;
}

.address_form {	
	font-size: 16px;
	text-align: left;
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.address_input {
	float: right;
	margin-left: 10px;
}

.address_form 
h1 {	
	text-align: center;
	font-size: 20px;
}

.address_form 
div {
		margin-bottom: 10px;
}

.cart_item {
	margin: 20px auto;
	/*float: left;*/
	clear: both;
	max-width: 75%;
	min-width: 500px;
}

.cart_summary {
	font-size: 17px;
	margin-left: 10px;
	margin-top: 100px;
	position: absolute;
	border-style: double;
	border-width: 3px;
	border-color: #48B;
	border-radius: 10px;
	top: 10px;
	right: 10px;
	/*float: right;*/
	background-color: #269;
	/*overflow-y: auto;*/
	z-index: 999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
}

.cart_content {
	margin-left: 5px;
	margin-right: 100px;
}

.price_summary {
	float: right;
	margin: auto;
	padding: 5px 10px;
	color: #FA1;
}

.continue
.summary_button {
	font-size: 13px;
	width: 170px;
	border-color: #FFF;
	border-width: 2px;
}

.continue
.summary_button:active {
	border-color: #FA1;
}

.menu_item 
a:link 
{
	color: #666;
	text-decoration: none;
}

.menu_item
a:visited {
	color: #A66;
	text-decoration: none;
}

.path {
	/*background: none;*/
	border: none;
}

.view_option {
	float: right;
	font-size: 15px;
	margin: -40px 10px 40px;
	padding: 3px 10px;
	border-radius: 15px;
	background-color: #DDD;
}

.item_card {
	margin-left: 0px;
	margin-top: 100px;
	text-align: left; 
}

.item_card_images {
	display: inline-block;
	text-align: center;
	margin-right: 50px;
	vertical-align: middle;
}	

.card {
	text-align: center;
}

.scroll {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}

.scroll:active {
	background-color: #FA1;
	border-radius: 25px;
}

.star_img {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.item_name {
	display: inline-block;
}

.scroll_group_images {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 75px;
}

.item_description {
	color: #666;
	padding: 0 30px;
	/*background: none;*/
	border: none;
	margin-top: 0;
	display: inline-block;
	/*margin-left: 80px;*/
	max-width: 50%;
	text-align: justify;
	vertical-align: middle;
	box-sizing: border-box;
}

.item_description 
hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.big_item_img {
	width: 300px;
	height: 300px;
	border-style: solid;
	border-width: 3px;
	border-color: #AAA;
}

.small_item_img {
	width: 75px;
	height: 75px;
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	vertical-align: middle;
}

.price {
	margin: 30px 0;
	text-align: right;
	color: #D66;
	font-size: 30px;
	font-weight: 700;
}

.byu_options {
	text-align: center;
}

.select_quantity {
	margin-left: 20px;
	text-align: center;
	height: 20px;
	vertical-align: top;
}

.add_button {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	border-color: #269;
	background-color: #48B;
	font-family: ProximaNovaCond, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #FFF;
}

.add_button:active {
	border-color: #FFF;
}

.remove_button {
	border-color: #A77;
	color: #A77;
	background-color: #EDD;
	width: 40px;
	border-radius: 20px;
	float: right;
	margin-top: 15px;
	margin-left: 200px;
}

.to_pay_button {
	margin-left: -75px;
}

.cards {
	margin: auto;
	/*margin-top: 10px;*/
	width: 700px;
}

.card_face {
	display: inline-block;
	border-style: solid;
	border-color: #269;
	border-width: 5;
	color: #FFF;
	background-color: #48B;
	width: 350px;
	height: 200px;
	border-radius: 20px;
	position: relative;
	
}

.card_back {
	background-color: #48A;
	position: static;
	margin: 150px 0 50px -175px; 
}

.cards_input {
	float: left;
	margin: 50px 0 0 25px;
	width: 70%;
}

.cards_date {
	margin-top: 20px;
	width: 50%;
}

.cards_pin {
	float: right;
	margin: 60px 50px;
	width: 15%;
}

.cards_username {
	margin-top: 20px;
	width: 60%;
}

.price
hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 0, 0, 0.2), rgba(200, 0, 0, 0.5), rgba(100, 0, 0, 0.2));
}

.continue {
	/*display: table;*/
	text-align: center;
	width: 100%;
}

.continue_button {
	display: cell;
	/*float: right;*/
	font-size: 17px;
	width: 170px;
	/*margin-left: 60px;*/
}

.continue
input:first-child {
	margin-right: 20px;
}

.social {
	text-align: center;
}

.social_img {
	display: inline-block;
	height: 48px;
	width: 48px;
	margin: 0 3px;
}

.item_text
li {
	margin: 0 5px;
	display: inline-block;
}


.menu {
	list-style-type: none;
	font-family: ProximaNovaCond, Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding-left: 17px;
	margin-right: 15px;
	width: 175px;
	text-align: center;
}

.menu 
li {
	margin-top: 10px;
}

.menu 
.now 
a:visited{
	color: #FA1;
}

.menu_img{
	margin-right: 10px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.menu 
hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.menu 
a:visited,
a:link
{
	color: #FFF;
	text-decoration: none;	
}

.menu 
a:hover{
	/*margin-left: 5px;*/
	padding: 3px 7px;
	color: #FFF;
	background-color: #333;
	border-style: solid;
	border-radius: 10px;
}

.item_img {
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #999;
	border-width: 2px;
	vertical-align: top;
}

.item_text {
	margin: 0;
	padding: 0;
	width: 200px;
	font-size: 16px;
}

#loginWindow, #regWindow{
	background: rgba(0,0,0,.8);
	display: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	pointer-events: none;
	z-index: 99999;
}

#loginWindow:target, #regWindow:target  {
	display: block;
	pointer-events: auto;
}

.window {
	background: radial-gradient(ellipse at center, #ACF, #48B);
	border-width: 3px;
	border-style: dashed;
	border-color: rgba(0,0,0,.8);
	border-radius: 20px;
	padding: 0 24px 24px;
	/* Выравнивание модального окна по центру */
	position: absolute;
	left: 50%; top: 50%;
    transform: translate(-50%, -50%);
	/* --- */
	width: 300px;
	text-align: center;
}

.window
h2 {
	color: #FFF;
	text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;
}

.reg_text:hover {
	text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;
}


.reg_check {
	color: #FFF;
}

.reg_ref:visited {
	color: #FFF;
}

.reg_ref:link {
	color: #FFF;
}

.close {
	border-radius: 7px;
	color: #000;
	position: absolute;
	top: 5px; right: 3px;
	text-align: center;
	width: 24px;
}

.reg_input {
	width: 100%;
	border-radius: 15px;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
}

/**************** devices ******************/

@media only screen and (max-device-width: 480px) {
nav {
	width: 0px;
	overflow: hidden;
	height: 0px;
	padding: 0;
	border: 0;
}

.content, .content_with_menu {
	margin-left: 5px;
	margin-right: 5px;
}

header {
	min-width: 300px;
}

.logo,
.search,
.cart_summary {
	overflow: hidden;
	width: 0px;
	height: 0px;
	padding: 0;
	border: 0;
}

.navigation {
	margin-right: 10px;
}

.cart_content{
	margin-left: 2px;
	margin-right: 2px;
}

.menu_item {
	margin-right: 5px;
	margin-bottom: 20px;
	/*padding: 5px;*/
	
}

.short_description {
	width: 60%;
}

.item_card_images  {
	/*width: 100%;*/
	display: block;
	clear: both;
	margin-left: 25px;
	margin-right: 25px;
}

.big_item_img {
	width: 100%;
	height: 100%;
	max-height: 300px;
	max-width: 300px;
}

.item_description, .item_extend, .short_description, .cart_item{
	/*display: block;*/
	box-sizing: border-box;
	width: 100%;
	min-width: 300px;
	
	/*clear: both;*/
	margin-left: 5px;
	margin-right: 5px;
	
	padding: 5px;
	
	max-width: 100%;
}

.item_extend, .item_description, .address_form  {
	width: auto;
	clear: both;
}

/*** vvvvv ***/

.address_form {
	box-sizing: border-box;
	width: 100%;
}

.short_description {
	box-sizing: content-box;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

.continue input:first-child {
	margin-right: 0;
}

.scroll_group_images {
	max-width: 400px;
}

img.scroll {
	margin: 0;
	width: 0;
	height: 0;
}

.to_pay_button {
	margin-left: 0;
}

.item_img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	/*max-width: 300px;
	max-height: 300px;*/
	box-sizing: border-box;
}

.clearfix {
	width: 100%;
}

.window  {
	width: 100%;
	height: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.cards {
	width: auto;
}

.card_face {
	box-sizing: border-box;
	width: auto;
	display: block;
	margin: 100px 5px 10px 5px;
	position: static;
}

.card_back {
	margin-top: 10px;
}

}

@media only screen and (max-device-width: 960px) {

}

/* end devices */

.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}

