@import "../../bower_components/normalize.css/normalize.css";

html {
	height: 100%;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

.page {
	flex-direction: column;
	font: 400 20px/1.5 sans-serif;
	display: flex;
	min-width: 1000px;
	margin: 0;
	padding: 0;
	height: 100%;
	
	&__header {
		height: 75px;
	}
	
	&__menu {
		align-self: flex-start;
		
		&--in-cart {
			flex: 1 0 auto;
			order: 1;
			flex-direction: column;
			align-items: center;
			border-width: 0;
			color: #FFF;
		}
	}
	
	&__content {
		text-align: left;
		box-sizing: border-box;
		width: 100%;
		flex: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: space-around;
		padding: 0 100px;
		
		&--grid {
			flex-direction: column;
			flex-wrap: nowrap;
		}
			
		&--in-address {
			justify-content: center;
		}
		
		&--in-cart {
			flex-direction: column;
		}
	}

	&__footer {
		flex: 1 0 auto;
		width: 100%;
		align-self: flex-end;
		max-height: 75px;
		
	}
}

.header {
	display: flex;
	background-color: #48B;
	border-style: solid;
	border-color: #269;
	border-width: 0 0 4px 0;
	background-color: #48B;
	
	&__logo-img {
		width: 70px;
		height: 70px;
		margin: 2px 10px;
	}
	
	&__logo-text {
		margin: auto auto auto 10px;
		font-family: ProximaNovaCond, Arial, sans-serif; 
		font-size: 50px;
		font-weight: 700;
		color: #FFF;
	}
	
	&__search {
		width: 260px;
		height: 30px;
		margin: auto 10px;
	}
	
	&__navigation {
		margin: auto 5px;
	}
}

.search {
	width: auto;
	padding: 2px;
	height: 36px;
	border: 10px;
	border-color: #FFF;
	border-radius: 10px;
	background-color: #FFF;
	
	&__field {
		display: inline-block;
		padding: 0;
		height: 30px;
		width: 200px;
		outline:none;
		border: none;
		margin: 4px 10px;
		vertical-align: top;
	}	
	
	&__image {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 3px 0;
	}
}

.navigation {

	&__image{
		float: right;
		width: 50px;
		height: 50px;
		margin: 12px 5px;
	}

	&__image--search {
		display: none;
	}

}

.menu {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	min-width: 200px;
	border-style: double;
	border-width: 0 3px 3px 0;
	border-color: #48B;
	background-color: #269;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
	&--in-cart {
		border-width: 0 0 3px 3px;
	}
}

.body-wrapper {
	flex: 1;
	/*flex: 1 0 auto;*/
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	flex-wrap: nowrap;
}

.content-wrapper {
	/*flex: 1;*/
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.content {
	/*background-color: #DDE;*/
	display: flex;
	
	&__item  {
		display: block;
		margin: 15px;
		padding: 10px 25px;
		
		&--extend {
			display: flex;
			margin: 0 auto;
			margin-bottom: 30px;
			/*overflow: hidden;*/
			/*max-width: 70%;*/
			width: 600px;
		}
		
		&--in-address {	
			font-size: 16px;
			text-align: left;
			/*display: inline-block;*/
			width: 300px;
			vertical-align: top;
		}

		&--in-address h1 {	
			text-align: center;
			font-size: 20px;
		}

		&--in-address div {
			margin-bottom: 10px;
			text-align: left;
		}

		&--in-cart {
			display: flex;
			position: relative;
			margin: 20px auto;
			/*float: left;*/
			/*clear: both;*/
			/*max-width: 100%;*/
			min-width: 500px;
		}
		
		&--cart-total {
			flex-direction: column;
		}
		
		&--in-card {
			align-self: center;
		}
	}

	&__view-option{
		width: 100%;
	}

	&__card-images {
		display: inline-block;
		text-align: center;
		margin-right: 50px;
		align-self: center;
	}	
}

.footer {
	display: flex;
	background-color: #48B;
	border-style: solid;
	border-color: #269;
	border-width: 4px 0 0 0;
	
	&__info-group {
		margin: auto;
	}
	
	&__mail, &__cell {
		display: inline-block;
		font-size: 16px;
		color: #FFF;
	}
}


.item {
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
	&__link:link {
		color: #666;
		text-decoration: none;
	}
	
	&__link:visited,
	{
		color: #A66;
		text-decoration: none;
	}
	
	&__image {
		width: 200px;
		height: 200px;
		border-style: solid;
		border-color: #999;
		border-width: 2px;
		vertical-align: top;
	}

	&__text {
		margin: 0 auto;;
		padding: 0;
		width: 200px;
		font-size: 16px;
		
		&--grid {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			/*width: 90%;*/
		}
	}

	&__text li:first-child::after {
		content: '\002022';
		margin: 0 5px;
		font-size: 90%;
	}

	&__text li {
		display: inline-block;
	}
	
	&__price {
		color: #D66;
		font-weight: 700;
		font-size: 20px;
		margin: 0;
		text-align: center;
		margin-top: 7px;
	}
	
	&__input {
		float: right;
		margin-left: 10px;
	}
	
	&__big-name {
		display: inline-block;
	}

	&__description {
		color: #666;
		padding: 0 30px;
		/*background: none;*/
		border: none;
		margin-top: 0;
		display: inline-block;
		/*margin-left: 80px;*/
		/*max-width: 50%;*/
		max-width: 60%;
		flex: 1 0 auto;
		
		text-align: justify;
		vertical-align: middle;
		box-sizing: border-box;
		
		&--short {
			font-size: 15px;
			padding: 0;
			margin: 0;
			margin-left: 15px;
		}

		&--short h1 {
			margin: 0;
			/*display: inline-block;*/
		}
	}

	&__description hr{
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	}
	
	&__byu-options {
		text-align: center;
	}
}

.path {
	flex: 1 0 auto;
	max-height: 30px;
	align-self: flex-start;
	border: none;
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #AAA;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: block;
	margin: 15px 0;
	padding: 10px 25px;
	
	&__link:link {
		color: #666;
		text-decoration: none;
	}

	&__link:visited {
		color: #A66;
		text-decoration: none;
	}
}

.view-option {
	text-align: center;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: block;
	font-size: 15px;
	margin: 10px 10px 10px auto;
	padding: 3px 10px;
	border-radius: 15px;
	background-color: #DDD;
	width: 80px;
}

.card {
	text-align: center;
}

.card-images {

	&__scroll {
		height: 50px;
		width: 50px;
		vertical-align: middle;
		&:active {
			background-color: #FA1;
			border-radius: 25px;
		}
	}

	&__scroll-images-group {
		margin: 15px auto;
	}
	
	&__big-img {
		width: 300px;
		height: 300px;
		border-style: solid;
		border-width: 3px;
		border-color: #AAA;
	}

	&__small-img {
		width: 75px;
		height: 75px;
		border-style: solid;
		border-width: 1px;
		border-color: #AAA;
		vertical-align: middle;
	}
}

.star-img {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.price {
	margin: 30px 0;
	text-align: right;
	color: #D66;
	font-size: 30px;
	font-weight: 700;
	
	&--in-summary {
		align-self: flex-end;
		padding: 5px 10px;
		color: #FA1;
		margin-right: 5px;
	}
}

.select-quantity {
	margin-left: 20px;
	text-align: center;
	height: 20px;
	vertical-align: top;
}

.add-button {
	margin-top: 10px;
	margin-bottom: 20px;
	/*width: 150px;*/
	padding: 0 5px 0 5px;
	width: auto;
	height: 40px;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	border-color: #269;
	background-color: #48B;
	font-family: ProximaNovaCond, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #FFF;
	
	&--in-summary{
		font-size: 13px;
		width: 170px;
		border-color: #FFF;
		border-width: 2px;
	}
	
	&--in-summary:active {
		border-color: #FA1;
	}
	
	&:active {
		border-color: #FFF;
	}

	&--remove {
		position: absolute;
		top: -25px;
		right: -15px;
		z-index: 999;
		border-width: 1px;
		border-color: #AAA;/*#A77;*/
		color: #A77;/*#A77;*/
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		background-color: #EADEDE;/*#EDD;*/
		width: 40px;
		border-radius: 20px;
	}

	&--to-pay {
		margin: 10px;
	}
	
	&--continue {
		display: cell;
		/*float: right;*/
		font-size: 17px;
		width: 170px;
		/*margin-left: 60px;*/
	}
}

.cards {
	margin: auto;
	/*margin-top: 10px;*/
	width: 700px;
}

.card-face {
	/*display: inline-block;*/
	margin-top: 50px;
	border-style: solid;
	border-color: #269;
	border-width: 5;
	color: #FFF;
	background-color: #48B;
	width: 350px;
	height: 220px;
	border-radius: 20px;
	position: relative;
	
	&--back {
		background-color: #48A;
		position: static;
		margin: 150px 0 50px -175px; 
	}

	&__input {
		color: #000;
		float: left;
		margin: 50px 0 0 25px;
		width: 70%;
		
		&--date {
			margin-top: 20px;
			width: 50%;
		}

		&--pin {
			float: right;
			margin: 60px 50px;
			width: 15%;
		}

		&--username {
			margin-top: 20px;
			width: 60%;
			margin-bottom: 20px;
		}
	}
}

.price
hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 0, 0, 0.2), rgba(200, 0, 0, 0.5), rgba(100, 0, 0, 0.2));
}

.continue {
	/*display: table;*/
	text-align: center;
	width: 100%;
	
	&--in-summary {
		margin: 0 10px;
	}
	
}

.social {
	text-align: center;
	
	&__img {
		display: inline-block;
		height: 48px;
		width: 48px;
		margin: 0 3px;
	}
}

.menu__list {
	list-style-type: none;
	font-family: ProximaNovaCond, Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding-left: 17px;
	margin-right: 15px;
	/*width: 175px;*/
	text-align: left;
}

.menu__list 
.now 
a:visited{
	color: #FA1;
}

.list__img{
	margin-right: 10px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.menu__line{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	
	&--in-cart {
		min-width: 90%;
	}
}

.list__link:visited,
.list__link:link
{
	color: #FFF;
	text-decoration: none;	
}

.list__link:hover{
	/*margin-left: 5px;*/
	padding: 3px 7px;
	color: #FFF;
	background-color: #333;
	border-style: solid;
	border-radius: 10px;
	transition: 250ms;
}

#loginWindow, #regWindow{
	background: rgba(0,0,0,.8);
	display: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	pointer-events: none;
	z-index: 99999;
}

#loginWindow:target, #regWindow:target  {
	display: block;
	pointer-events: auto;
}

.window {
	background: radial-gradient(ellipse at center, #ACF, #48B);
	border-width: 3px;
	border-style: dashed;
	border-color: rgba(0,0,0,.8);
	border-radius: 20px;
	padding: 0 24px 24px;
	/* Выравнивание модального окна по центру */
	position: absolute;
	left: 50%; top: 50%;
    transform: translate(-50%, -50%);
	/* --- */
	width: 300px;
	text-align: center;
}

.window
h2 {
	color: #FFF;
	text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;
}

.reg_text:hover {
	text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;
}


.reg_check {
	color: #FFF;
}

.reg_ref:visited {
	color: #FFF;
}

.reg_ref:link {
	color: #FFF;
}

.close {
	border-radius: 7px;
	color: #000;
	position: absolute;
	top: 5px; right: 3px;
	text-align: center;
	width: 24px;
}

.reg_input {
	width: 100%;
	border-radius: 15px;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
	display: none;
}


/**** devices_960 ***/

@media only screen and (max-device-width: 960px) {
.page {
	
	min-width: 100%;
	
	&__header {
		height: 55px;
	}
	
	&__menu {
		justify-content: center;
		
		&--in-cart {
			order: 0;
		}
	}
	
	&__content {
		padding: 0;
	}
	
	&__footer {
		text-align: center;
		height: auto;
		max-height: 100px;
	}
}

.header {
	
	&__logo-img {
		width: 50px;
		height: 50px;
		margin: 2px 10px;
	}
	
	&__logo-text {
		/*display: none;*/
		font-size: 30px;
	}
	
	&__search {
		/*display: none;*/
		margin: auto 5px;
	}
	
	&__navigation {
		margin: auto 0 0 5px;
	}
}

.navigation__image,.navigation__image--search {
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	margin: auto 5px 2px auto;
	position: relative;
	z-index: 1000;
}

.search {
	width: auto;
	padding: 2px;
	height: 36px;
	background-color: #FFF;
	margin: auto 5px auto auto;
	
	&__field {
		display: inline-block;
		padding: 0;
		height: 30px;
		width: 50px;
		outline:none;
		border: none;
		margin: 4px 10px;
		vertical-align: top;
	}	
	
	&__image {
		display: none;
	}
}

.content__card-images  {
	display: block;
	margin-right: 0;
	margin-bottom: 50px;
}

.card-images__big-img {
	
	width: 60%;
	height: 60%;
	
	/*min-height: 100%;
	min-width: 100%;*/
}

.content__item--extend, .content__item--in-cart, .content__item--in-card {
	/*display: block;*/
	box-sizing: border-box;
	width: 90%;
	min-width: 90%; /*300px*/
	
	/*clear: both;
	margin-left: 5px;
	margin-right: 5px;*/
	
	padding: 15px;
	
	/*max-width: 100%;*/
}

.item__description, .item__description--short {
	
}

}

/******************************************/

/**************** devices_480 ******************/


@media only screen and (max-device-width: 480px) and (orientation: portrait) {
.page {
	min-width: 100%;
	
	&__header {
		height: 55px;
	}
	
	&__menu {
		justify-content: center;
		
		&--in-cart {
			order: 0;
		}
	}
		
	&__footer {
		text-align: center;
		height: auto;
		max-height: 300px;
	}
}

.header {
	
	
	&__logo-img {
		width: 50px;
		height: 50px;
		margin: 2px 10px;
	}
	
	&__logo-text {
		display: none;
	}
	
	&__search {
		/*display: none;*/
		flex: 1 0 auto;
	}
	
	&__navigation {
		margin: auto 0 0 5px;
	}
}

.navigation__image,.navigation__image--search {
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	margin: auto 5px 2px auto;
	position: relative;
	z-index: 1000;
}

.search {
	/*width: auto;*/
	display: flex;
	padding: 2px;
	height: 36px;
	border: 10px;
	border-color: #FFF;
	border-radius: 10px;
	background-color: #FFF;
	margin: auto auto;
	
	&__field {
		flex: 1 0 auto;
		display: inline-block;
		padding: 0;
		height: 30px;
		/*width: 50px;*/
		outline:none;
		border: none;
		margin: 4px 10px;
		vertical-align: top;
	}	
	
	&__image {
		display: none;
	}
}

.footer {	
	&__mail, &__cell {
		font-size: 14px;
		margin: 5px;
	}
}

.content-wrapper {
	flex-direction: column;
}

.content {
	align-items: center;
}

.menu {
	max-width: 100%;
	min-width: 100%;
	border-width: 0 0 3px 0;
	text-align: center;
	
	&--in-cart {
		border-width: 0 0 3px 0;
	}
}

.menu__list {
	margin: 0;
	display: block;
	height: 0px;
	overflow: hidden;
	transition: all 0.4s ease-out;
	/*width: 100%;*/
}

.menu__line{
	min-width: 90%
}

label[for="nav-trigger"] {
	display: block;
	align-self: center;
	margin: 5px;
	border: 20px solid transparent; 
	border-bottom: 0;
	border-top-color: white;
	transition: all 0.6s ease-out;
	
	&:active {
		border-top-color: #AAA;
	}
}

/*@keyframes menu-out {
    from {height: 0;}
    to {height: 220px;}
}

@keyframes rotate-button {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}*/

.nav-trigger:checked ~ .menu__list {
	margin-top: 15px;
    display: block;
    /*animation-name: menu-out;
    animation-duration: 0.5s;*/
    height: 225px;
	transition: all 0.4s ease-out;
}

.nav-trigger:checked ~ label{
    /*animation-name: rotate-button;
    animation-duration: 0.5s;*/
    transform: rotate(180deg);
	transition: all 0.6s ease-out;
}

.card-images__scroll-images-group {
	overflow: hidden;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0;
	border: 0;
}

.content__card-images  {
	display: block;
	margin: 0;
}

.card-images__big-img {
	
	width: 90%;
	margin-bottom: 15px;
	/*height: 80%;*/
	
	/*min-height: 100%;
	min-width: 100%;*/
}

.item__description, .content__item--extend, .item__description--short, .content__item--in-cart, .content__item--in-address{
	/*display: block;*/
	box-sizing: border-box;
	width: 90%;
	min-width: 90%; /*300px*/
	flex-wrap: wrap;
	justify-content: center;
	/*clear: both;
	margin-left: 5px;
	margin-right: 5px;*/
	
	padding: 15px;
	margin: 15px 0;
	
	/*max-width: 100%;*/
}

.item__description--short {
	padding: 0;
	width: 100%;
	/*height: auto;*/
}

.item__input {
	width: 100%;
}

.item__image{
	width: 100%;
	height: auto;
}

.card-face {
	box-sizing: border-box;
	width: auto;
	display: block;
	margin: 20px 5px 10px 5px;
	position: static;
	width: 90%;
}

.card-face--back {
	margin-top: 10px;
}

.view-option {
	display: none;
}

}

/* end devices */

.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}

